body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure {
  width: 50%;
  margin: 5px 0;
}

img {
  height: 120px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
